/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
  /* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
  /* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
  /* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
  
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

a, span {
    color: #c1c1c1;
    font-family: 'Ubuntu', sans-serif;
}

.icon {
    font-family: 'Material Icons', sans-serif;
}

body {
    margin: unset;
}

.title-bar {
    width: 100%;
    height: 40px;
    display: block;
    position: fixed;
    background-color: #18181890;
    z-index: 100;
    backdrop-filter: blur(15px);
}

.logo-container {
    display: flex;
}

.menu-icon {
    font-family: 'Material Icons', sans-serif;
    width: 35px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #282828;
    font-size: 32px;
    color: #c1c1c1;
    cursor: pointer;
    user-select: none;
}

.menu-icon.clicked {
    background-color: #383838;
}

.logo {
    display: block;
    color: #c1c1c1;
    margin-left: 10px;
    font-size: 32px;
    cursor: default;
    user-select: none;
}

.menu {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #383838;
    width: inherit;
    top: -1000px;
}

.menu.open {
    top: 40px;
}

.menu-item {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover, .menu-item:active {
    background-color: #1e1e1e;
}

.icon-m {
    width: 64px;
    height: 64px;
}

.menu-item-cont {
    width: 250px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 15px;
}

.text-m {
    line-height: 64px;
}




/*@media screen and (max-width: 320px) and (max-width: 460px) {*/
/*    */
/*}*/

.content {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

html {
    background: #1f1f1f;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 267px));
    justify-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;
}

.grid-element {
    width: 267px;
}

.card {
    text-decoration: none;
}

.cr-name {
    font-size: 20px;
}

.card-cont {
    display: grid;
    grid-template-columns: auto auto;
    width: 267px;
    height: 128px;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}

.card-bottom {
    background-color: #2b3534;
    text-align: center;
    padding-top: 4px;
    border-radius: 0 0 12px 12px;
}

.card-el {
    display: grid;
    grid-template-columns: auto;
    justify-items: right;
    margin: auto 4px auto 0px;
    gap: 6px;
}

.cr-icon {
    width: 128px;
}

.cr-element, .cr-weapon-type {
    width: 40px;
    background: rgba(56, 62, 68, 0.658);
    border-radius: 10px;
    padding: 3px;
}

.rarity {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    padding-bottom: 8px;
}

.star {
    width: 24px;
}




.v-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

@media screen and (max-width: 1023px) {
    .text-m {
        font-size: 12px;
        line-height: 45px;
    }

    .icon-m {
        width: 45px;
        height: 45px;
    }

    .menu-item-cont {
        width: 165px;
    }

    .menu-item-cont {
        gap: 7px;
    }


    .text-m {
        font-size: 12px;
        line-height: 45px;
    }

    .icon-m {
        width: 45px;
        height: 45px;
    }

    .menu-item-cont {
        width: 165px;
    }

    .menu-item-cont {
        gap: 7px;
    }



    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(109px, 109px));
        justify-items: center;
        gap: 10px;
        padding-top: 15px;
    }
    
    .grid-element {
        width: 109px;
    }

    .card-cont {
        display: grid;
        grid-template-columns: auto auto;
        width: 109px;
        height: 52px;
        border-radius: 6px 6px 0 0;
    }

    .card-bottom {
        padding: unset;
        border-radius: 0 0 6px 6px;
    }

    .cr-icon {
        width: 52px;
    }

    .card-el {
        gap: 3px;
    }

    .cr-element, .cr-weapon-type {
        width: 16px;
        padding: unset;
        border-radius: 4px;
        padding: 2px;
    }

    .rarity {
        margin-top: 2px;
        padding-bottom: 4px;
    }

    .star {
        width: 10px;
    }

    .cr-name {
        font-size: 12px;
        display: block;
    }
}